.home-description-main{
  background-color: black;
}
.home-description{
    width: 90%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.home-description-main h3{
    font-size: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
.home-description-main h3 .home-quote{
    font-size: 30px;
    color: white;
}