.carousel-description-main {
    color: white;
}

.carousel-description-main h1 {
    font-size: 70px;
    text-shadow: 6px 6px white;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}

.carousel-description-main h2 {
    font-size: 40px;
    text-shadow: 2px 2px white;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    padding-bottom: 5px;
    font-family: sans-serif;
}

.carousel-description-main p {
    margin-bottom: 20px;
    font-size: 16px;
    opacity: 0.5;
    font-family: sans-serif;
}

.carousel-description-main .train {
    padding: 15px 32px;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}
.carousel-description-main .train:hover {
    color: black;
   background-color: #fff;
   transition: 1s;
   transform-origin: top;
   transition-delay: 0.5;
}



@media only screen and (max-width: 576px) {
    .carousel-description-main h1 {
        font-size: 30px;
        text-shadow: 8px 8px orangered;
        font-weight: bold;
    }

    .carousel-description-main h2 {
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 5px;
    }
}